:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /*это хуйня полная*/
}
.navigation {
  display: flex;
  align-items: center;
}
.our-team {
  background-color: #f5f4fa;
}
.our-team-title-list:not(:last-child) {
  margin-right: 30px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*
.menu-contact::after {
  display: block;
  content: '';
  width: 60px;
  height: 1px;
  background-color: #303030;
  flex-shrink: 0;
  margin-right: 40px;
  */

.menu-contact-item:not(:last-child) {
  margin-right: 50px;
}
.people-box {
  padding-top: 30px;
}
.header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.menu-list {
  display: flex;
  align-items: center;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}

body {
  font-family: var(--main-font);
}

/* ========== COMPONENTS =========== */
.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: transparent;
  cursor: pointer;
  align-items: center;
  text-align: center;
  font-family: 'Roboto';
  color: #ffffff;
  bottom: 200px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 4px;
  margin-top: 30px;
}
.logo-spn {
  color: #2196f3;
}
/* ЛОГОТИП СНИЗУ 
.logo-spn-one {
  color: #ffffff;
}
*/
.element {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #2196f3;
}
.modal-btn-filters:hover,
.modal-btn-filters:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.modal-btn-filters {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 1px solid #eeeeee;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  color: #212121;
  cursor: pointer;
}

.about-hero-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.hero-title {
  color: #ffffff;
  margin-bottom: 30px;
  margin: 0 auto;
  padding-top: auto;
  padding-bottom: auto;
  width: 696px;
  height: 120px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
  padding-top: 94px;
  text-align: center;
}
.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.our-team-title-item {
  display: flex;
  text-align: center;
}
.about-img-list {
  display: flex;
}

.about-img-item:not(:last-child) {
  margin-right: 30px;
}

.hero-container {
  padding-bottom: 94px;
}
.description-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}
.menu-address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.menu-address-link-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.menu-address-link:hover,
.menu-address-link:focus {
  color: #2196f3;
}
.menu-address {
  margin-top: 20px;
  font-style: normal;
}
/* ============= END COMPONENTS ============ */

/* ================ HEADER ============== */

.logo-link:hover,
.logo-link:focus {
  color: #2196f3;
}
.logo-link {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: #212121;
  margin-right: 93px;
}
.logo-spn-one {
  color: #ffffff;
}
.logo-spn-one:hover,
.logo-spn-one:focus {
  color: #2196f3;
}
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu-link:hover,
.menu-link:focus {
  color: #2196f3;
}
.mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #757575;
}
.mail-link:hover,
.mail-link:focus {
  color: #2196f3;
}
.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #757575;

  color: #757575;
}
.tel-link:hover,
.tel-link:focus {
  color: #2196f3;
}
/* =========== END HEADER ============ */

/* =========== HERO ================= */

.hero-main {
  text-align: center;
  padding: 200px 0px;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.about-main-list {
  display: flex;
}

.hero {
  text-align: center;
}

/* =========== END HERO =========== */

/* =========== ABOUT =========== */

.description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  height: 75px;
  width: 270px;
}
/* =========== END ABOUT ============ */

.about-main-list-item:not(:last-child) {
  margin-right: 30px;
}

/* =========== PORTFOLIO =========== */
.filters-item-link:hover,
.menu-address-link:focus {
  color: #2196f3;
}
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filters-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-list-img {
  margin-left: -30px;
  margin-top: -30px;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
.portfolio-list-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}
.people-card {
  padding-top: 20px;
}
.menu-address-list-item:not(:last-child) {
  margin-bottom: 9px;
}
/* ============= END PORTFOLIO ============== */

/* ============ FOOTER ============= */

.footer {
  background-color: #2f303a;
  padding: 60px 15px;
  display: block;
  margin: 0 auto;
}
